<!doctype html>
<head>
<title color="blue">My Details..</title>
</head>
<body bgcolor="blue">
<h1>Name:Nirnay Rath</h1>
<h3>
Roll No.:-1605289<br/>
Father's name:- Narayan C. Rath <br/>
Qualifiication:- Cleared Intermediate<br/>
School\College:- School of Computer Engineering<hr/>

<table border="4px", caption="My Semester Details" align="center" style="color:white">
<tr>
<th>Sr.</th>
<th>Semester</th>
<th>CGPA</th>
</tr>
<tr>
<td>1.</td>
<td>1st Semester</td>
<td>8.95</td>
</tr>
<tr>
<td>2.</td>
<td>2nd Semester</td>
<td>8.6</td>
</tr>
</table>

<h3>Hobbies:
<ul>
<li>Reading</li>
<li>Painting</li>
<li>Playing Badminton</li>
</ul>
<hr/></h3><h3 align="right">
Declaration:I hearby declare that all the 
above informatin is right to my knowledge</h3>
<h2 align="right">Nirnay Rath</h2>

</h3>
</body>

</html>